@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text:#fff;
    --color-text-header: #000;
    --color-error:#980000;
    --color-paper: #232323;
    --color-primary: #ffc500;
    --color-background: #000000;
    --color-primary-contrast: #000;
}

html,
body {
    @apply bg-background text-text w-screen h-screen underline-offset-8
}

a {
    @apply hover:underline active:opacity-50 transition-opacity
}